/* ==========================================================================
 Footer
========================================================================== */

.footer {
    position: relative;
    width: 100vw;
    padding-top: 40px;
    .content {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .content span.h4 {
        display: inline-block;
        @include font-family-header(700);
        font-size: 2rem;
        margin-right: 5px;
        text-transform: uppercase;
    }
    .content span.h4 span {
        @include font-family-header(400);
        letter-spacing: -.1rem;
    }
    .content p:first-of-type {
        margin-top: 20px;
    }
    .content p {
        font-size: 1.7rem;
        @include font-family-copy(400);
        line-height: 2.5rem;
        margin: 20px 0;
    }
    .content p.opener {
        @include font-family-copy(700);
    }
    .content a {
        @include font-family-header(700);
    }
    .copyright {
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 1.4rem;
        @include font-family-copy(700);
    }
    .icons {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 5px 5px 15px 5px;
    }
}

@media (min-width: 768px) {
    .footer {
        .footer-icons {
            text-align: right;
        }
    }
}